<p>Selection section has arrived safely!</p>

{{sample}}

<h3>Please select a region:</h3>

<select ng-model="region" ng-change="getList()">
    <option value="All">All</option>
    <option value="South">South</option>
    <option value="Central">Central</option>
    <option value="Metro">Metro</option>
    <option value="Northwest">Northwest</option>
    <option value="Northeast">Northeast</option>
</select>
<br><br>
<form>
<div ng-repeat="park in parkList | orderBy : 'name'">
    <input type="checkbox" ng-click="selectLoc(park.id)">{{park.name}}<br>
</div>
</form>

<div class="right" ng-hide="selectedList.length < 1" ng-class="hidden">
    <h3>Selected Park List:</h3>
    <form>
        <div ng-repeat="selected in selectedList">
            <input type="checkbox" ng-click="unSelectLoc(selected.id)">{{selected.name}}<br>
        </div>
    </form>
</div>